#body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#headerArea {
    background-image: url("img/img1.jpeg");
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0%;
    height: 20%;
}

#headerOverlay {
    background: rgba(200,0,0,0.4);
    height: 100%;
}

#headerText {
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    font-size: 40px;
}

#subHeaderText {
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 25px;
}

#reviewDistribution {
    position: absolute;
    top: 70%;
}

#midContainer {
    position: absolute;
    background: rgba(0, 0, 31, 0.8);
    width: 100%;
    top: 20%;
    height: 30%;
}

#reviewArea {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 5%;
    height: 20%;
}

#reviewText {
    color: red;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    top: 5%;
}

#searchArea {
    position: absolute;
    width: 100%;
    top: 47%;
    height: 20%;
    background-color: red;
    text-align: center;
}

#searchResultsArea {
    position: absolute;
    width: 100%;
    top: 67%;
    height: 33%;
    background-color: #00001a;
}

#sraText {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 3%;
    color: white;
    font-size: 25px;
}

#sraContainer {
    position: absolute;
    width: 100%;
    text-align: left;
    top: 10%;
    padding: 10px;
    color: white;
    font-size: 80%;
    line-height: 20px;
}

#platex {
    width: 100%;
    text-align: center;
    top: 60%;
    position: absolute;
    color: white;
}

#bigTextPlace {
    width: 100%;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 10%;
}

#smallTextPlace {
    width: 100%;
    position: absolute;
    color: black;
    top: 33%;
}

#ksa {
    width: 100%;
    position: absolute;
    color: white;
    top: 85%;
    text-align: center;
}

#platesArea {
    position: absolute;
    width: 50%;
    top: 5%;
    height: 30%;
}

#platesText {
    width: 100%;
    position: absolute;
    color: red;
    font-size: 25px;
    top: 5%;
    text-align: center;
}

#formArea {
    position: absolute;
    width: 100%;
    top: 60%;
}

#inputField {
    width: 60%;
    height: 25px;
    border: none;
}

#inputButton {
    background-color: black;
    border: none;
    color: white;
    width: 20%;
    height: 28px;
}
