<!doctype html>
<html>
  <head>
    <title>Get Positive</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='landing.css') }}">
  </head>
  <body id="body">
    <div id="loadingArea">
      <div id="titleArea">
        <div id="mainTitle"> Pick a Restaurant...Any Restaurant </div>
        <div id="subTitle"> (But for the full experience, choose a restaurant on Locu!) </div>
      </div>
      <div id="formArea">
        <input id="inputField" type="text" name="url" placeholder="yelp.com/...">
        <button id="inputButton" onclick="handleSubmit()">
          GET POSITIVE
        </button>
      </div>
      <div id="spinnerArea"></div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='landing.js') }}"></script>
</html>
